<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">
    <!-- let's replace standard (click) event by a custom event named (courseSelected)
      <course-card (click)="onCardClicked()" [course]="coreCourse"></course-card>

      onCourseSelected: EventEmitter defined in CourseCardComponent class

      also unlike native (click) event, custom events do not bubble up (propagate to parents)
    -->
    <course-card (courseSelected)="onCourseSelected($event)" [course]="coreCourse"></course-card>
    <course-card (courseSelected)="onCourseSelected($event)" [course]="rxjsCourse"></course-card>
    <course-card (courseSelected)="onCourseSelected($event)" [course]="ngrxCourse"></course-card>
</div>


